.menu{
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: rgb(41, 41, 41);
    color: white;
    .body{
        padding: 100px;
        display: flex;
        justify-content: space-between;

        .nav{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            font-size: 2rem;
            margin-top: 3rem;

            .header{
                border-bottom: 1px solid gray;
                padding-bottom: 1rem;
                margin-bottom: 1rem;
                font-size: 1rem;
            }

            p{
                font-weight: 300;
            }
            
        }
    }
}