.menu{
    position: fixed;
    z-index: 3;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: #040D12;
    color: white;
    @media only screen and (max-width: 500px) {
        width: 100%;
    }
    .body{
        padding: 100px;
        display: flex;
        justify-content: space-between;

        .nav{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            font-size: 2rem;
            margin-top: 3rem;

            .header{
                border-bottom: 1px solid gray;
                padding-bottom: 1rem;
                margin-bottom: 1rem;
                font-size: 1rem;
            }

            a{
                text-decoration: none;
                color: white;
                font-weight: 300;
                cursor: pointer;
            }
            
        }
    }
}